# Core Scientific Libraries
numpy
scipy
matplotlib
pandas
h5py
seaborn
scikit-learn

# Signal Processing & Image Analysis
pywavelets
scikit-image
vtk
pyvista
imageio
ruptures

# Interactive & Visualization
ipywidgets
ipyvolume
plotly
mpl_interactions
networkx
tabulate
mpld3

# Mathematical & Statistical Utilities
xrayutilities
astropy
cryptography
gekko
yapf

# File Handling & Utilities
hdf5plugin
silx

# Specialized Scientific Libraries
# cdiutils  # Install manually if local or specify git+https url
# bcdi      # Install manually if local or specify git+https url

# Miscellaneous
pytest
